* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Helvetica Neue", serif;
    line-height: 1.5em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    padding: 10px 20px;
}

header img {
    border-radius: 50%;
}

header h1 {
    color: white;
    margin: 0 auto;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-right: 10px;
}

header a {
    color: white;
    text-decoration: none;
}

main {
    margin-top: 80px;
}

.description {
    padding: 20px 200px;
    background-color: #f1f1f1;
}

.description img {
    float: left;
    width: 500px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.description-p2 {
    clear: both;
}

.relationship {
    padding: 20px 200px;
}

.relationship img {
    float: right;
    width: 500px;
}

footer {
    clear: both;
    background-color: #a9a9a9;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}